h1{
    text-align: center;
    text-decoration: underline;
}

img{
   image-resolution:  height: 400px;
   width: 650px;
   margin-left:425px;
   border-radius: 35px;
   
}

body{
    background-color: bisque;
    font-family: 'Ubuntu', sans-serif;
}

div h3{
    text-align: center;
}

div p{
    border: black;
    border-style: solid;
    border-radius: 0.75em;
}

div ul{
    margin-left: 39%;
}